[submodule "linux/home/user/.config/kitty/kittens/extrakto-kitty"]
	path = stow/kitty/kittens/extrakto-kitty
	url = https://github.com/dawsers/extrakto-kitty
[submodule "linux/home/user/.config/kitty/kittens/kitty_search"]
	path = stow/kitty/kittens/kitty_search
	url = https://github.com/trygveaa/kitty-kitten-search
