#|
This is a template file that needs to be interpolated by envsubst.
official sample kanata.kbd: https://github.com/jtroo/kanata/blob/main/cfg_samples/kanata.kbd

key symbols reference: https://github.com/jtroo/kanata/blob/main/parser/src/keys/mod.rs
|#

;; basic hardware setup
(include ../local/common/defcfg.kbd)

;; common functions
(include ../local/common/deftemplates.kbd)
;; components for layouts
(include ../general/layouts/key-block-templates.kbd)

;; aliases (to be used in layers)
(include ../local/user_defined/aliases.kbd)
;; select one keyboard layout file (which contains src and layers)
(include ../local/layouts/$LAYOUTS_FILENAME)

#|
sequence leader
|#
;; menu key as the leader key
;;(defalias menu (tap-hold-release 200 200 sldr menu))
;; Enter sequence mode and input .
;; (defalias dot-sequence (macro (sequence 250) 10 .))
;; (defalias dot-sequence-inputmode (macro (sequence 250 hidden-delay-type) 10 .))

;; kanata core functions
;; reload/edit configs
(t! seq (Backslash r) live-reload lrld)
(t! seq (Backslash e) edit-config (cmd zsh -c "kitty nvim ~/.config/kanata/"))

;; sequences/hotkeys
$INCLUDE_SEQUENCES

;; macros
$INCLUDE_MACROS

;; chords
$INCLUDE_CHORDS

;; vim:  ft=lisp ts=2 sts=2 sw=2 et :
