;; declare commonly-used values
(defvar
  tap-repress-timeout   200
  hold-timeout          400
  )

(deftemplate
  alphabet-as-modifiers (alphabet modifier)
  (defalias
    $alphabet (tap-hold-release-timeout $tap-repress-timeout $hold-timeout $alphabet $modifier $alphabet)
    )
  )

(deftemplate
  alphabet-as-layer-held-switch (alphabet layer-name)
  (defalias
    $alphabet
    (tap-hold-press-timeout $tap-repress-timeout $hold-timeout $alphabet (layer-while-held $layer-name) $alphabet)
    )
  )

(deftemplate
  seq (in vk-name out)
  (defvirtualkeys $vk-name $out)
  (defseq $vk-name $in)
  )

(deftemplate
  seq-app-launcher (keys vk-name app)
  (defvirtualkeys $vk-name (cmd $app))
  (defseq $vk-name $keys)
  )

(deftemplate
  seq-script-launcher (keys vk-name shell-script-command)
  (defvirtualkeys $vk-name (cmd $RUN_EXTERNAL_COMMAND_AS zsh -c $shell-script-command))
  (defseq $vk-name $keys)
  )

;; vim: ft=lisp
